		body {
		    color: #4A507E;
		}

		h1 {
		    text-align: center;
		}

		.wrap {
		    width: 340px;
		    margin: auto;
		    border: 1px solid #4A507E;
		    padding: 20px;
		}

		.num {
		    font-size: 72px;
		    margin-bottom: 100px;
		    text-align: center;
		    background-color: #E3E3E3;
		}

		.plus {
		    float: left;
		    width: 120px;
		    margin-bottom: 50px;
		    line-height: 120px;
		    font-size: 48px;
		    font-weight: bold;
		    color: #fff;
		    text-align: center;
		    background-color: #5F7EB2;
		    cursor: pointer;
		}

		.minus {
		    float: right;
		    width: 120px;
		    margin-bottom: 50px;
		    line-height: 120px;
		    font-size: 48px;
		    font-weight: bold;
		    color: #fff;
		    text-align: center;
		    background-color: #C35866;
		    cursor: pointer;
		}

		.reset {
			display:block;
			width:100%;
		    clear: both;
		    line-height: 80px;
		    font-size: 24px;
		    font-weight: bold;
		    text-align: center;
		    background-color: #DAB24F;
		    cursor: pointer;
		}